<ion-header>
  <ion-toolbar>
    <ion-title>Cambio de contraseña</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form action="">
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" #email required></ion-input>
    </ion-item>
    <ion-col class="btn-group">
      <ion-button type="submit" size="large" class="btn" color="primary" (click)="onResetPassword(email)">
        Cambiar contraseña
      </ion-button>
    </ion-col>
  </form>

</ion-content>
