<ion-header>
  <ion-toolbar>
    <ion-title>
      <a class="btn btn-light" routerLink="/home" >CITAS MED</a>
      <ion-button shape="round" color="white" *ngIf="!authSvc.userStatus" (click)="entrar()" class="float-end text-black"> <i class="far fa-user"></i></ion-button>
      <ion-button shape="round" color="danger" *ngIf="authSvc.userStatus" (click)="cerrar()" class="float-end"> <i class="fas fa-sign-out-alt"></i></ion-button>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="authSvc.userStatus" class="h-100">
  <p class="ms-4 mt-3">
    <ion-button shape="round" *ngIf="authSvc.userStatus" routerLink="/admin" ><ion-icon name="build-outline"></ion-icon> Admin</ion-button>
    <br>
    <ion-button shape="round" *ngIf="authSvc.userStatus" routerLink="/citas" ><ion-icon name="calendar-outline"></ion-icon> Citas</ion-button>
    <br>
    <ion-button shape="round" *ngIf="authSvc.userStatus" routerLink="/my-info" ><ion-icon name="settings-outline"></ion-icon> Ajustes</ion-button>
    <br>
    <ion-button shape="round" *ngIf="authSvc.userStatus" routerLink="/list-user" ><ion-icon name="settings-outline"></ion-icon> Lista</ion-button>
  </p>
</ion-content>
<ion-content *ngIf="!authSvc.userStatus" class="h-100">
  <ion-text>
    <p class="ion-text-center mt-5">
      Inicia sesion o registrate
      <br>
      <ion-button shape="round" routerLink="/login" >Entrar</ion-button>
    </p>
  </ion-text>
</ion-content>
